
.boutol{
    width:100%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
}
.boutol2{
    width:100%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
}
.childdiv{
    height:400px;
    width:300px;
    border:2px solid yellow;
}
.childImg{
    width:90%;
    height:60%;
}